.borderNone {
    border-radius: 6px !important;
    border: none !important;
    color: inherit;
}

.SelectWrapper {
}

.SearchSelect {
    padding-left: 3rem;
}
.SearchSelect::-webkit-input-placeholder {
    color: inherit;
}

.OpenIcon {
    height: 30px !important;
    width: 30px !important;
    color: inherit;
}

.CloseIcon {
    height: 30px !important;
    width: 30px !important;
    color: inherit;
}
