/* .gradientButton {
    background: #19191a;
    transition: all 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}
.gradientButton:hover {
    background: linear-gradient(90deg, #e72825 0%, #f37f1f 100%);
} */

@media (min-width: 768px) {
    .swiperButton {
        position: relative;
        background: #19191a;
        transition: all 0.3s cubic-bezier(0.76, 0, 0.24, 1);
        overflow: hidden;
        z-index: 1;
    }

    .swiperButton::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(90deg, #e72825 0%, #f37f1f 100%);
        transition: opacity 0.3s cubic-bezier(0.76, 0, 0.24, 1);
        z-index: -1;
        opacity: 0;
    }

    .swiperButton:hover::before {
        opacity: 1;
    }
}
@media (max-width: 768px) {
    .swiperButton {
        background: linear-gradient(90deg, #e72825 0%, #f37f1f 100%);
    }
}

.gradientButton {
    position: relative;
    background: #19191a;
    transition: all 0.3s cubic-bezier(0.76, 0, 0.24, 1);
    overflow: hidden;
    z-index: 1;
}

.gradientButton::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #e72825 0%, #f37f1f 100%);
    transition: opacity 0.3s cubic-bezier(0.76, 0, 0.24, 1);
    z-index: -1;
    opacity: 0;
}

.gradientButton:hover::before {
    opacity: 1;
}
