@media (min-width: 768px) {
    .swiperButton {
        position: relative;
        transition: all 0.3s cubic-bezier(0.76, 0, 0.24, 1);
        overflow: hidden;
        z-index: 1;
    }

    .swiperButton::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(90deg, #e72825 0%, #f37f1f 100%);
        transition: opacity 0.3s cubic-bezier(0.76, 0, 0.24, 1);
        z-index: -1;
        opacity: 0;
    }

    .swiperButton:hover::before {
        opacity: 1;
    }
}
@media (max-width: 768px) {
    .swiperButton {
        background: linear-gradient(90deg, #e72825 0%, #f37f1f 100%);
    }
}

.swiperButton:hover svg path {
    stroke: white;
}

.gradientButton {
    position: relative;
    transition: all 0.2s linear;
    overflow: hidden;
    z-index: 1;
}

.gradientButton::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #e72825 0%, #f37f1f 100%);
    transition: opacity 0.2s linear;
    z-index: -1;
    opacity: 0;
}

.gradientButton:hover::before {
    opacity: 1;
}
.gradientButton:hover {
    color: white;
}

.activeButton {
    background: linear-gradient(90deg, #e72825 0%, #f37f1f 100%);
}
.activeButton svg {
    fill: white;
}

.toSectionButton {
    position: relative;
    transition: all 0.5s ease-in-out;
    overflow: hidden;
    z-index: 1;
}

.toSectionButton::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #e72825 0%, #f37f1f 100%);
    transition: opacity 0.5s ease-in-out;
    z-index: -1;
}

/* .toSectionButton:hover::before {
    opacity: 0;
} */
.toSectionButton:hover {
    color: white;
}
